{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/hooks/(.*)$",
    "^@/services/(.*)$",
    "^@/shared/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^[./](.*)$",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
